/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

/* Header Styles */
.header {
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.app-name {
    font-size: 24px;
    color: #ecf0f1;
    font-weight: bold;
}

.nav {
    display: flex;
}

.nav-item {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #2c3e50;
    color: #ecf0f1;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #1abc9c;
}

.container {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

/* Header Styles */
h2 {
    margin-bottom: 2%;
    color: #34495e;
}

/* Error Message */
.error-message {
    color: #e74c3c;
    margin-bottom: 10px;
}

/* Form Styles */
.form-container {
    text-align: left;
}

label {
    display: block;
    color: #34495e;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #34495e;
}

button {
    background-color: #2c3e50;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

button:hover {
    background-color: #1abc9c;
}

/* Back Link */
.back-link {
    display: inline-block;
    margin-top: 10px;
    background-color: #2c3e50;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.back-link:hover {
    background-color: #1abc9c;
}
